* {
	margin: 0;
	font-family: "Kosugi Maru", sans-serif;
	font-weight: 400;
	font-style: normal;
}

body {
	background: #E9E4DD;
}

#back {
	position: fixed;
	z-index: -5;
}

svg {
	width: 100vw;
	height: 100vh;
	display: block;
}

#title {
	width: 40vw;
	height: auto;
	margin: auto;
}

.container {
	width: 85vw;
	max-width: 800px;
	height: auto;
	margin: auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 20px;
	margin-bottom: 30px;
}

.L {
	width: 90%;
	line-height: 30px;
	font-size: 20px;
}

.M{
		width: 90%;
		margin: 10px 20px;
	line-height: 30px;
	font-size: 20px;
	color: #ffffff;
	background: #b0a9a0;
	padding: 5px;
	border-radius: 10px;
}

.S{
		width: 90%;
		margin-left: 40px;
	line-height: 30px;
	font-size: 20px;
}

p{
	margin-left: 40px;
	line-height: 30px;
}

img {
	width: 100%;
}